<h2>Domains</h2>

<h3>Add a domain</h3>

<form id="domain-form" class="form-inline" role="form" onsubmit="do_add_domain(); return false;">
  <div class="form-group">
    <label for="domainName" class="control-label">Domain</label>
    <input type="text" class="form-control" id="domainName" placeholder="example.com" />
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<h3>Existing domains</h3>

<table id="domain_table" class="table" style="width: auto">
  <thead>
    <tr>
      <th></th>
      <th>Domain</th>
      <th>Enable web server</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<script>
  function show_domains() {
    $('#domain_table').html("<tr><td colspan='2' class='text-muted'>Loading...</td></tr>");
    api(
      "/domains",
      "GET",
      { format: 'json' },
      function(r) {
        $('#domain_table').html("<thead><tr><th>Domain</th><th>Enable web server</th><th></th></tr></thead><tbody></tbody>");
        var tbody = $('#domain_table tbody');
        for (var i = 0; i < r.length; i++) {
          var row = r[i];
          var tr = $("<tr data-domain='" + row.domain + "'></tr>");
          tr.append("<td>" + row.domain + "</td>");
          tr.append("<td class=\"web\"><input type='checkbox' " + (row.options.web ? "checked" : "") + " /></td>");
          tr.append("<td><a href='#' onclick='do_remove_domain(this); return false;'>remove</a> | <a href='#' onclick='do_save_domain(this); return false;'>save</a></td>");
          tbody.append(tr);
        }
      },
      function(r) {
        $('#domain_table').html("<thead><tr><th></th><th>Domain</th><th>Enable web server</th></tr></thead><tbody></tbody>");
      }
    );
  }

  function do_add_domain() {
    var name = $('#domainName').val();
    if (name == "") {
      return;
    }
    api(
      "/domains/add",
      "POST",
      {
        domain: name,
        options: "web"
      },
      function(r) {
        show_modal_error("Add Domain", r);
        show_domains();
        domains_reset_form();
      },
      function(r) {
        show_modal_error("Add Domain", r);
      }
    );
    return false;
  }

  function domains_reset_form() {
    $('#domainName').val("");
  }
  function do_remove_domain(elem) {
    var domain = $(elem).parents('tr').attr('data-domain');
    show_modal_confirm(
      "Remove Domain",
      "Remove " + domain + "?",
      "Remove",
      function() {
        api(
          "/domains/remove",
          "POST",
          {
            domain: domain
          },
          function(r) {
            show_modal_error("Remove Domain", r);
            show_domains();
          },
          function(r) {
            show_modal_error("Remove Domain", r);
          }
        );
      });
  }
  function do_save_domain(elem) {
    var domain = $(elem).parents('tr').attr('data-domain');
    var web = $(elem).parents('tr').find('td.web input').prop('checked');
    var options = "";
    if (web) {
      options += "web\n";
    }
    options = options.trim();
    api(
      "/domains/update",
      "POST",
      {
        domain: domain,
        options: options
      },
      function(r) {
        show_modal_error("Update Domain", r);
        show_domains();
      },
      function(r) {
        show_modal_error("Update Domain", r);
      }
    );
  }
</script>